
@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),  url('FuturaPT-Medium.otf')  format('opentype'),
	     url('FuturaPT-Medium.woff') format('woff'), url('FuturaPT-Medium.ttf')  format('truetype'), url('FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
