//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

//
// Colors
//
$global-dark: #000;
$global-border-color: #E1E0E0;

//
// Backgrounds
//
$global-primary-background: #E5FAB8;


//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//